* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#grid_wrapper{
    display: grid;
    height: 300vh;
    grid-template-columns: auto;
    grid-template-rows: 150px 700px 500px 600px 200px ; 
    grid-template-areas: 
    "he he"
    "ma ma"
    "ar ar"
    "se se"
    "fo fo";
}


header{
    position: fixed;
    grid-area:he;
    height: 125px;
    width: 100%;
    max-width: 100%;
    background-color: #F5DEB3;
    display: flex;
    justify-content:center ;
    z-index: 999;
}
#logo_header{
    height: 120px;
    
}
nav {
    height: 80px;
    position: absolute;
    left: 90%;
    background-color: #F5DEB3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#burger div {
    width: 50px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 200px;
    background-color: rgb(79, 61,61);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -700px;
    right: 0px;
    transition: all 0.5s;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: rgb(127, 14, 50);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, 6px);
}

.nav_active {
    transform: translateY(780px);
}

main{
    height: 800px;
    grid-area:ma;
    background-image: url(../img/angelo-pantazis-2-U0A2tNYhM-unsplash.jpg);
    margin: 30px;
    position: relative;
    
}


#article_startsida{
    grid-area:ar;
    background: #F5DEB3;
    margin-top:150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	
	
}

#rubrik_bästa_bageriet{
    margin-bottom: 10px;
    font-size: 36px;
    font-weight:800;
    
}

#text_bästa_bageriet {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 80px;
    margin-right: 80px;
  }



footer{
    grid-area:fo;
    height: 310px;
   
    background-color: #F5DEB3;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 310px;
    background-color: #F5DEB3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
  }
  
  .logo img {
    height: 200px;
  }
  
  .contact-info h3,
  .social-media h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin: 0;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 28px;
    transition: color 0.2s;
  }
  
  .social-media a:hover {
    color: #F5DEB3;
  }
  
  .fa-facebook{
    background: #3B5998;
    color: white;
  }
  
   
  

#section_startsida{
    grid-area:se;
    display: flex;
    position: relative;
    background-color: #f5f5f5;

    
}
.section_cards_index{
    top: 10px;
    display: flex;
    align-items: center; 
    color: aliceblue;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 10px;
    border: 2px solid black;
    gap: 100px;
    margin: 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(0, 0, 0, 0.2) ;
   
}

#main_text_startsida{
    color: rgb(255, 255, 255);
    text-decoration: double;
}


#Startsida_valkommen{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 175px;
    left: 31%;
    font-size: 65px;
    
}


#main_button{
    height: 80px;
    width: 200px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: rgb(118, 111, 111);
    border-radius: 50px ;
    border: 3px dotted rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    
}

#main_button:hover{
    transform: scale(1.1);
    left: 43%;
    top: 55%;
}

#main_text_startsida{
    position: absolute;
    margin-left: 350px;
    margin-right: 400px;
    left: 6%;
    top: 39.5%;
    text-align: center;
    

}
#section_button{
    background: grey;
    width: 130px;
    height: 60px;
    color: black;
    border: 3px dotted black;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
    
    


#section_button:hover{
    transform: scale(1.1);
    
}
#card1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    color: aliceblue;
    position: absolute;
    left: 10px;
    height: 550px;
    width: 400px;
    background: url(../img/yeh-xintong-go3DT3PpIw4-unsplash.jpg);
}


#card2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 525px;
    height: 225px;
    width: 900px;
    background-size: cover;
    background: url(../img/andy-li-RndRFJ1v1kk-unsplash.jpg);
}

#card3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top:250px;
    left: 550px;
    width: 300px;
    height: 300px;
    background-image: url(../img/conor-brown-sqkXyyj4WdE-unsplash\ \(1\).jpg);
    background-size: cover;
    
}

#card4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top:250px;
    left: 1100px;
    width: 300px;
    height: 300px;
    background: url(../img/andy-li-RndRFJ1v1kk-unsplash.jpg);
    background-size: cover;

}

#card_info{
    margin-top: 40px;
    margin-left: 15px;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

